body {
  text-align: center;
  background-color: #181717;
  height: 100%;
  margin: 0;
 
}

 html {
  height: 100%;
  margin: 0;
}

main {
  
  height: 100vh; /* ocupa a tela inteira */
  display: flex;
  justify-content: center; /* centraliza horizontal */
  align-items: center; 
   
}

.container {
  text-align: center;
    display: flex;
  flex-direction: column;
  align-items: center;
  
}


.game-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 5rem;
  margin:  5%;
  color: #FEF2BF;
}



.btn {
  margin: 10px;
  display: inline-block;
  height:350px;
  width:45%;
 
 
}

.botao{
  padding: 2px;
  margin: 10px;
  width: 290px;
  height: 70px;
  font-size: 32px;
  font-family: 'Press Start 2P', cursive;
  background-color: cornflowerblue;
  border-radius: 8px;
  border: none;

}
.botao:hover{
  background-color: rgb(21, 81, 192);
 box-shadow: 0 0 10px blue;

}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  border-radius: 10% 60% 10% 20%

}

.green {
  background-color: green; 
  border-radius:60% 20% 10%;
}

.blue {
  background-color: blue;
    border-radius:10%  20% 60%;
}

.yellow {
  background-color: yellow;
   border-radius:10% 10% 20% 60%;
}

.pressed {
  box-shadow: 1px 0 28px white;
  background-color: rgb(116, 116, 116);
}

#valores{

display:flex;
justify-content: center;
margin: -90px;
font-size: 50px;
color: #FEF2BF;
font-size: 48px;
}

#dados{
  color: aliceblue;
}

#vez{
  margin: -10px;
 font-size: 55px;
  color: #FEF2BF;

}
#recorde{
  color: #FEF2BF;
  font-size: 55px;
}

footer{
  
  font-size: 40px; 
  color: #FEF2BF;
}



@media (min-width: 1068px) {
  .btn {
    width:150px;
    height: 150px;
  }

footer{
  margin: 300px;
  font-size: 40px; 
  color: #FEF2BF;
}

}